--var {
    --azul1: #007bff;
    --azul2: #0056b3;
    --branco: #f4f6f8;
    --verde: #28ffbf;
    --cinza: #343a40;
    --cinza: #f8f9fa;
}

main {
    margin: auto;
    width: 90vw;
    height: 78vh;
    padding: 20px;
}

#cadastro {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    gap: 50px;
}

#info {
    background-color: #f8f9fa;
    width: 50%;
    /* Define largura do formulário */
    max-width: 600px;
    margin: 0;
    /* Remove margem horizontal */
    padding: 19px;
    border-radius: 20px;
    /* border: #007bff 2px solid; */
    box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2);
    border: #007bff 0 solid;
    transition: 0.3s;
}
#info:hover {
    border: #007bff 2px solid;
    transition: 0.3s;
}

#info h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

#info h3 {
    font-size: 1.3rem;
    margin-bottom: 0;
    color: #0056b3;
}

#info p {
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #343a40;
}
/* ------------------------------------------------------------------------------------ */
#system {
    display: none; /* Inicialmente, o pop-up está oculto */
    padding: 12px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
  }
  
  #system {
    background-color: #f44336; /* Vermelho */
    color: #f4f6f8;
  }
  
  #system.success {
    background-color: #4CAF50; /* Verde */
    color: white;
  }
/* ------------------------------------------------------------------------------------ */
#form-cadastro {
    background-color: #f8f9fa;
    width: 50%;
    /* Define largura do formulário */
    max-width: 600px;
    margin: 0;
    /* Remove margem horizontal */
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2);
    border: #007bff 0 solid;
    transition: 0.3s;
}
#form-cadastro:hover {
    border: #007bff 2px solid;
    transition: 0.3s;
}

#form-cadastro input,
#form-cadastro select,
#form-cadastro button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#form-cadastro input::placeholder {
    color: #bbb;
}

#form-cadastro input:focus,
#form-cadastro select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px #007bff;
}

#form-cadastro select {
    background-color: #fff;
}

#form-cadastro button {
    background-color: #007bff;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#form-cadastro button:hover {
    background-color: #28ffbf;
}

#form-cadastro button:active {
    background-color: #6f42c1;
}