--var {
    --azul1: #007bff;
    --azul2: #0056b3;
    --branco: #f4f6f8;
    --verde: #28ffbf;
    --cinza: #343a40;
    --cinza: #f8f9fa;
}
main {
    padding: 20px;
    text-align: center;
    min-height: 78vh;
    margin: auto;
    width: 90vw;
}

h1 {
    margin-bottom: 20px;
    color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

thead {
    background-color: #0056b3;
    color: #fff;
    text-align: left;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f4f4f9;
}

tbody tr:hover {
    background-color: #007BFF99;
    color: #fff;
}

td {
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

table thead th {
    text-align: center;
}

table tbody td {
    text-align: center;
    font-size: 16px;
}

table tbody tr:last-child td {
    border-bottom: none;
}
/* Estilo geral dos botões */
button {
    background-color: #0056b3;
    color: #f4f6f8;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #007bff;
    transform: scale(1.02);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  button:active {
    transform: scale(0.98);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  button:focus {
    outline: none;
  }
  
  #print {
    background-color: #0056b3;
    color: #f4f4f9;
    padding: 15px 40px;
    font-size: 1.2rem;
    border-radius: 50px;
  }
  
  #print:hover {
    background-color: #007bff;
    color: #f4f4f9;
  }
  
  #print:active {
    transform: scale(0.96);
  }